@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Troy Locke - Coaden<br />
    Lubbock Texas 79423<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:troy@slnzero.com">troy@slnzero.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:sales@slnzero.com">sales@slnzero.com</a>
</address>
